ASSEMBLYAI_API_KEY=
GOOGLE_CLIENT_SECRET_PATH=./credentials/client_secret.json
GOOGLE_TOKEN_PATH=./credentials/token.json
ANTHROPIC_API_KEY=
RESEND_API_KEY=
RESEND_FROM_ADDRESS=Podflow <podflow@resend.dev>
BRIEF_RECIPIENTS_MARK=botros.mark.a@gmail.com
BRIEF_RECIPIENTS_BROOKE=botros.mark.a@gmail.com
